<div class="listeo-testimonial-card  ">
    <div class="listeo-testimonial-card__header">

        <div class="listeo-testimonial-card__header__container">


            <div class="listeo-testimonial-card__header__thumbnail">
                <img src="https://picsum.photos/1600/800?random=1" alt="John Smith" class="img-fit">
            </div>
            <div class="listeo-testimonial-card__header__name">
                <h3 class="listeo-testimonial-card__header__name__text">John Smith</h3>
                <span class="listeo-testimonial-card__header__name__occupation">CEO</span>
            </div>
        </div>
        <div class="listeo-testimonial-card__focus">
            <span class="listeo-testimonial-card__focus__key-statement"> Delivers high-quality websites on time and on
                budget</span>
        </div>
    </div>
    <div class="listeo-testimonial-card__body" style="max-height: 0px;">
        <p class="listeo-testimonial-card__body__text"> Gino Web Development is the best web development company because
            they deliver high-quality websites on time and on budget. Their attention to detail and customer service are
            unmatched. I highly recommend them to anyone looking for a reliable and professional web development
            partner.</p>
    </div>
</div>