<a href="//localhost:800/listeo/listing/beachfront-bungalow-with-stunning-views/" class="listeo-listing-card">
    <div class="listeo-listing-card__header">
        <!-- content, features div and information div -->
        <div class="listeo-listing-card__content">
            <div class="listeo-listing-card__content__features">
                <div class="featured-box">
                    <div style="background-color: #FF5A5F;  height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                        class=" icon-style icon-style">
                        <icon class="icon-featured"></icon>
                    </div>
                    <span class="featured-box__text">Featured</span>

                </div>
                <div class="featured-box">
                    <div style="background-color: #007A87;  height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                        class=" icon-style icon-style">
                        <icon class="icon-booking"></icon>
                    </div>
                    <span class="featured-box__text">Instant Booking</span>

                </div>
                <div class="featured-box">
                    <div style="background-color: #FFB400;  height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                        class=" icon-style icon-style">
                        <icon class="icon-cart"></icon>
                    </div>
                    <span class="featured-box__text">Store</span>

                </div>
                <div class="featured-box">
                    <div style="background-color: #00A699;  height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                        class=" icon-style icon-style">
                        <icon class="icon-verified"></icon>
                    </div>
                    <span class="featured-box__text">Verified</span>

                </div>
                <div class="featured-box">
                    <div style="background-color: #FF5A5F;  height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                        class=" icon-style icon-style">
                        <icon class="icon-cash"></icon>
                    </div>
                    <span class="featured-box__text">$400 - $600</span>

                </div>
            </div>
            <div class="listeo-listing-card__content__main">
                <!-- category, title, city -->
                <span class="listeo-pill-button-sm listeo-pill-button-primary "
                    href="//localhost:800/listeo/restaurants">Restaurants</span>
                <div class="listeo-listing-card__content__main__title">
                    <h2 class="listeo-listing-card__content__main__title__name">
                        Beachfront Bungalow with Stunning Views </h2>
                    <!-- title -->


                    <!-- city -->

                    <span class="listeo-listing-card__content__main__title__city">Sydney</span>
                </div>


            </div>
        </div>

        <!-- thumbnail -->

        <img src="https://picsum.photos/1600/800?random=7" alt="Restaurant" class="img-fit">




    </div>
    <div class="listing_card_footer">
        <!-- 5 review stars -->
        <div class="listeo-listing-card__rating">
            <div class="listeo-listing-card__rating__stars">
                <i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                    class="icon-star-full"></i>
            </div>
            <span class="listeo-listing-card__rating__count"> 5 (reviews)</span>
        </div>
    </div>
</a>